@import "tailwindcss";

@theme {
  --color-bcgw-yellow-dark: #f6bb46;
  --color-bcgw-yellow-light: #ffc549;
  --color-bcgw-blue: #183058;
  --color-bcgw-black: #040606;
  --color-bcgw-salmon-light: #f69d85;
  --color-bcgw-salmon-dark: #f69d85;
  --color-bcgw-green: #b0d9c2;
}

:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
