@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@config '../tailwind.config.ts';

@theme {
  --color-bcgw-yellow-dark: #f5bb47;
  --color-bcgw-yellow-light: #ffeac1;
  --color-bcgw-blue-dark: #05182a;
  --color-bcgw-gray-light: #d9d9d9;
  --color-bcgw-gray-dark: #6d6d6d;
  --font-Montserrat: "Montserrat", sans-serif;
  --font-Inter: "Inter", sans-serif;
}

@layer {
  h1 {
    font-size: var(--text-5xl);
    font-family: "Montserrat", sans-serif;
  }
  h2 {
    font-size: var(--text-3xl);
  }
  h3 {
    font-size: var(--text-2xl);
  }
  .opacity-1 {
    opacity: 100%;
  }
}

:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
