.Toastify__toast {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  min-height: 0 !important;
}

.Toastify__toast-body {
  padding: 0 !important;
  margin: 0 !important;
}

.Toastify__toast-container {
  padding: 0 !important;
}